{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Event Page</title>
    <script>
        const CSRF_TOKEN = "{{ csrf_token }}";
    </script>
    <link rel="stylesheet" href="{% static 'common.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body id="body">

<nav id='navbar'>
    <div id='navbar-content'>
        <header id="navbar-header">
            <a href="{% url "home_page" %}" class='navbar-logo'>Event Finder</a>
            <div id='searchbar-container'>
                <form method="get">
                    <input type='text' name='query' placeholder='Search Events...' value="{{ query }}">
                    <button type="submit" class="search-btn" aria-label="Search">
                         <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>    
        </header>

        <ul class="nav-links">
            <li class="nav-item">
                <a href="{% url 'home_page' %}">Home</a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item logout-item"><a href='{% url "logout" %}'>Logout</a></li>
                <li class="nav-item login-item"><a href='{% url "join_organization" %}'>Join Organiztion</a></li>
                <li class="nav-item signup-item"><a href='{% url "org-signup" %}'>Register Organization</a></li>
                <li class="nav-item addevent-item"><a href="{% url 'addevent'%}">Add Event</a></li>
            {% else %}
                <li class="nav-item login-item"><a href='{% url "login" %}'>Login</a></li>
                <li class="nav-item signup-item"><a href='{% url "customer-signup" %}'>Sign Up</a></li>
                <li class="nav-item login-item"><a href="{% url 'join_organization' %}">Join Organiztion</a></li>
                <li class="nav-item signup-item"><a href='{% url "org-signup" %}'>Register Organization</a></li>
            {% endif %}
        </ul>

        <details id='options-details'>
            <summary class='options-button'>Information</summary>
            <div id='options-dropdown'>
                <div class="info-group">
                    <h4>Legal Matters</h4>
                    <p>Privacy Policy</p>
                    <p>Terms of Service</p>
                    <p>Cookie Settings</p>
                    <p>Return/Refund Policies</p>
                </div>
                <div class="info-group">
                    <h4>Contact</h4>
                    <p>Phone: 662-327-459</p>
                    <p>Email: fakestop@gmail.com</p>
                    <p>Address: Water Valley, MS</p>
                </div>
                <div class="info-group">
                    <h4>Navigation</h4>
                    <p>About Us</p>
                    <p>FAQ</p>
                    <p>Customer Service</p>
                </div>
            </div>
        </details>
    </div>
</nav>

<details id='filter-sidebar'>
    <summary class='filter-tab-button'>
        <i class="fas fa-sliders-h"></i> 
        <span>Filters</span>
    </summary>
    <div id='filter-dropdown'>
        <form method="get" id="locationsubmission" class="filter-form-group">
            <h4>Location</h4>
            <label for="location" class="location">City/State</label>
            <input type="text" name="event__location" id="location" onchange="this.form.submit()">
        </form>

        <form method="get" class="filter-form-group price-form">
            <h4>Price Range</h4>
            <div class="price-inputs">
                <label for="minprice" class="minprice">Min:</label>
                <input type="number" name="tickettier__min_price" min="0" default="0" id="minprice" onchange="this.form.submit()">
            </div>
            <div class="price-inputs">
                <label for="maxprice" class="maxprice">Max:</label>
                <input type="number" name="tickettier__max_price" max="999999" default="0" id="maxprice" onchange="this.form.submit()">
            </div>
        </form>

        <form method="get" class="filter-form-group">
            <h4>Time</h4>
            <label for="starttime" class="starttime">Start Time:</label>
            <input type="text" name="event__start_time" id="starttime" onchange="this.form.submit()">
        </form>
    </div>
</details>

{% block content %} {% endblock content %}
</body>
</html>