{% extends "base.html" %}
{% block title %}Customer Dashboard{% endblock %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'customer_dashboard.css' %}">
    

    <div class="dashboard-container">
        
        <aside class="dashboard-sidebar">
            <div class="user-profile-card">
                <div class="user-avatar">{{ Customer.first_name.0 }}{{ Customer.last_name.0 }}</div>
                <h3 class="user-name">{{ Customer.first_name }} {{ Customer.last_name }}</h3>
                
            </div>
            
            <ul class="sidebar-menu">
                <li><a href="#" class="active-item">Overview</a></li>
                <li><a href="{% url 'cart' %}">My Tickets</a></li> 
               
            </ul>
        </aside>

        <main class="dashboard-content">
            
            <header class="content-header">
                <h2>Welcome back, {{ Customer.first_name }}!</h2>
                <p>Here is an overview of your account activity.</p>
            </header>

            <section class="stats-grid">
                <div class="stat-card">
                    <span class="stat-label">Total Orders</span>
                    <span class="stat-int">{{ total_orders }}</span>
                </div>
                <div class="stat-card">
                    <span class="stat-label">Total Expenses</span>
                    <span class="stat-int">${{ Total_expenses|floatformat:2 }}</span>
                </div>
                <div class="stat-card">
                    <span class="stat-label">Contact Info </span>
                    <span class="stat-number">{{ Customer.email }}</span>
                    <span class="stat-number">{{ Customer.address }}</span>
                    <span class="stat-number">{{ Customer.phone }}</span>"
                </div>
            </section>

            <section class="recent-activity">
                <h3 class="section-header">Orders</h3>
                <div class="table-responsive">
                    <table class="clean-table">
                        <thead>
                            <tr>
                                <th style="width: 10%;">Order ID</th>
                                <th style="width: 70%;">Ticket Details</th>
                                <th style="width: 20%; text-align: right;">Total Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in Orders %}
                            <tr>
                                <td class="align-top">
                                    <span class="order-id-text">#{{ order.id }}</span>
                                </td>
            
                                <td>
                                    <div class="ticket-scroll-container">
                                        {% for ticket in order.ticket.all %}
                                        <div class="ticket-item">
                                            <span class="ticket-icon">🎟️</span>
                                            <span class="ticket-name">{{ ticket.tier.event.title }}/{{ticket.tier.type }} Ticket</span>
                                            <span class="ticket-date">${{ ticket.tier.price }}/{{ ticket.tier.event.date|date:"M d, Y" }}</span>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </td>
            
                                <td class="align-top" style="text-align: right;">
                                    <span class="order-price">${{ order.total_price|floatformat:2 }}</span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>

        </main>
    </div>


{% endblock %}
