{%extends 'base.html'%}
{%load static%}
    {%block content%}
        <div class="login-container">
            <div class="login-form-wrapper">
                <h1>Login</h1>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" name="username">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>

                    <button type="submit" class="submit-btn">Login</button>
                </form>
            </div>
        </div>
    {% endblock content %}