{% extends "base.html" %}
{% block title %}Organization Signup{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'signup.css' %}">

<div class="register-container">
    <div class="register-form-wrapper">
        
        <h1 class="register-text">Sign Up as Organization Admin</h1>

        <form method="POST" class="register-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-btn">Sign Up</button>
        </form>

        <div style="margin-top: 20px;">
            <a style="color: rgb(197, 225, 235)" href="{% url 'login' %}">Already have an account? Login</a>
        </div>

    </div>
</div>

{% endblock %}