{%extends 'base.html'%}
{%load static%}
{%block content%}
    <link rel="stylesheet" href="{% static 'tickettier.css' %}">
   <div class="ticket-wrapper">
    <div class="ticket-header">
        <h5 class="heading"><i class="fas fa-ticket-alt me-2"></i>New Ticket</h5>
    </div>
<form method="post">
    {% csrf_token %}
    <div class="ticket-body">
        <div class="row g-3">
            <div class="col-12">
                <label class="ticket-label">Ticket's Tier</label>
                {{ form.type }}
            </div>

            <div class="col-12">
                <div class="ticket-separator"></div>
            </div>

            <div class="col-6">
                <label class="ticket-label"> Ticket Price</label>
                <div class="d-flex align-items-center ticket-input-group">
                  {{ form.price }}
                </div>
            </div>

            <div class="col-6 border-start dashed-border">
                <label class="ticket-label ps-2">Ticket Qty</label>
                {{ form.quantity }}
            </div>
            
            {% if form.errors %}
            <div class="col-12 mt-2">
                 <small class="text-danger">Please check the fields above.{{form.errors}}</small>
            </div>
            {% endif %}
            <div class="subcontainer">
                <button type="submit" class="subbtn">Add tickets</button>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock content %}