#body {
    background-color:#2b2b2b;
    text-decoration: none !important;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height:65px;
    background-color:black;
    padding: 0px;
    margin: 0px;
    display: flex; 
    overflow:visible;
    z-index: 1000;
    border-radius: 0.313rem;
}

.searchbarsizing {
    width: 24vw;
    height: 25px;
}

#searchbar {
    margin-top: 0.938rem; 
    margin-bottom: 0.938rem;
    margin-left: 1.875rem;
}

#options {
    margin-top: 0.938rem; 
    margin-bottom: 0.938rem;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    transform: translateX(-25px);
}

#options-dropdown {
    display: none;
    background-color: rgb(219, 219, 219);
}

#options:hover #options-dropdown {
    display: block;
}

#options-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.options-list-e {
    margin-left: 1.25rem;
    align-items: center;
    padding: 10px;
}

.options-button {
    height: 30.6px;
}

.extra-contents {
    display: none;
    background-color: rgb(206, 206, 206);
    margin-top: 0.313rem;
}

.options-list-e:hover .extra-contents {
    display: block;
}

.footer {
    position:fixed;
    left:0;
    width:100vw;
    height:20vh;
    background-color: rgb(219, 219, 219);
    display:flex;
    justify-content: space-evenly;
}

.legalInfo{
    display:flex;
    flex-direction:column;
    width:33%;
}

.nav-bar-button {
    background-color:black;
}

#category-filter select {
    width:7.5vw;
    height:30.6px;
    font-size:.8rem;
    margin-left: 0px;
    margin-right: 2rem;
    margin-top:0.938rem;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(54, 52, 52);
}

.register-text {
    color: rgb(245, 245, 244);
}

.submit-btn{
    background-color: rgb(59, 7, 214);
    color: azure;
    border: none;
}

.btn-close{
    float: right;
}

.login-form-wrapper {
    max-width: 400px;
    margin: 40px auto;
    padding: 25px;
    background: rgb(6, 6, 6);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    color: aliceblue;
}

.register-form-wrapper {
    max-width: 50%;
    margin: 40px auto;
    padding: 25px;
    background: rgb(6, 6, 6);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    color: aliceblue;
}

.register-form p {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.register-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.register-form {
    text-align: center;
}

.register-form button {
    margin-top: 15px;
}

.register-form-wrapper {
    text-align: center;
}

.register-text {
    text-align: center;
}

.alert {
    background-color: aliceblue;
    color: red;
}

.navbar-brand {
    color: aliceblue;
}

.welcome-text {
    color: aliceblue;
}

.login-container {
    background-color: rgb(54, 52, 52);
    height: 100vh;
    width: 100vw;
}